#kwlab-container {
	width:100%;
}
.kwlab.top-banner {
	background-color:#004977;
	text-align:center;
	padding:30px;
}
.kwlab.top-banner img.large-logo {
	width:500px;
	height:auto;
}
.kwlab.top-banner img.mobileLogo {
    display: none;
    margin: 0 auto;
    width: 90%;
    max-width: 620px;
    height: auto;
}
.kwlab.top-banner .kw-lab {
	color:#FFF;
	letter-spacing:4px;
	font-size:22px;
  font-family: "ProxReg","Helvetica Neue",Arial,sans-serif;
  padding: 0px 0px 30px 0px;
}
.kwlab.top-banner .text {
    /*font-size: 36px;*/
    line-height: 32px;
    /*margin:13px 0px 0px 0px;*/
    margin:0px;
    color:#DCD8DB;
    letter-spacing:0.1px;
}

#kwlab-container section { /* common section styles */
	overflow:hidden;
	text-align:center;
}
#kwlab-container section h3 { /* section title text */
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
#kwlab-container section .description { /* smaller text in sections */
	font-size:20px;
	line-height:24px;
}
#kwlab-container section div.content p {
  margin-top:20px;
}
#kwlab-container img {
	vertical-align:bottom;
}
#kwlab-container img.icon {
	width:80px;
	height:80px;
	margin-top:20px;
	margin-bottom:20px;
}
#kwlab-container .banner-image {
	width:100%;
	height:auto;
}

#kwlab-container .header-text { /* section title text, in case h3 is not used */
    font-family: "ProxSemiBold","Helvetica Neue",Arial,sans-serif;
    line-height: 32px;
    margin-bottom: 13px;
    letter-spacing:0.1px;
}
#kwlab-container .title-text { /* section semi-title text */
	font-family: "ProxSemibold","Helvetica Neue Bold","Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    line-height: 20px;
}
#kwlab-container .caption-text { /* descriptions and smaller sub texts */
	padding:10px 25px 0px 25px;
	font-size:18px;
	line-height:24px;
}

#kwlab-container #intro-banner .text-banner {
	width:100%;
	height:auto;
	font-size:20px; /* orig: 22 */
	line-height:30px;
	background-color:rgb(17, 117, 158);
	color:#FFFFFF;
}

#kwlab-container #our-projects .bold-caption {
  font-weight:800;
}

#kwlab-container #image-section .left {
    height:auto;
    width:50%;
    float:left;
}
#kwlab-container #image-section .right {
    float:right;
    width:50%;
    height:auto;
}

#kwlab-container #who-we-are .item .name {
	font-size:18px;
	line-height:20px;
	margin-bottom:5px;
}
#kwlab-container #who-we-are .item .role {
	font-size:14px;
	line-height:14px;
	padding:0px 5px 0px 5px;
}
#kwlab-container #who-we-are .item img.icon {
	margin:30px 0px 15px 0px;
}
#kwlab-container #who-we-are .item img.icon:hover {
	transform:scale(1.1);
}

#kwlab-container #join-our-team {
	padding-bottom:20px;
  position:relative;
}
#kwlab-container #join-our-team h3 {
  font-family: "ProxSemiBold","Helvetica Neue",Arial,sans-serif;
  font-size:24px;
  line-height:32px;
  margin-top:20px;
  letter-spacing:0.1px;
  color:#FFF;
}
#kwlab-container #join-our-team .button { /* .button class provides pre-existing button css */
	font-size:14px;
	background-color:rgb(21, 140, 190);
}
#kwlab-container #join-our-team div.text {
	font-size:20px; /* orig: 18 */
	line-height:24px; /* orig: 24 */
  color:#FFF;
}
#kwlab-container #join-our-team .button-caption {
  font-size:16px; /* orig: 18 */
  line-height:22px; /* orig: 24 */
  color:#FFF;
  letter-spacing:0.5px;
  padding:10px 40px 10px 40px;
}

#lightbox-modal { /* dark background behind open lightbox */
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#000;
	z-index:-10; /* behind icons to prevent blocking clicks */
	opacity:0;
	transition: opacity 0.6s linear;
	-webkit-transition: opacity 0.6s linear;
	-moz-transition: opacity 0.6s linear;
	-o-transition: opacity 0.6s linear;
}
#lightbox-modal.show { /* on click, show semi-transparent, dark background */
	z-index:10;
}
#kwlab-container .profile-lightbox {
	/*height:400px;*/
	text-align:left;
	background-color:#FFF;
	max-width:700px;
	position:fixed;
	top:100%;
	margin-left:auto; /* margin left/right and left/right:0 does not work on IE if a max-width is specified */
	margin-right:auto;
	left:0;
	right:0;

	overflow:auto;

	transition: top 0.6s ease-in-out;
	-webkit-transition: top 0.6s ease-in-out;
	-moz-transition: top 0.6s ease-in-out;
	-o-transition: top 0.6s ease-in-out;
}
#kwlab-container .profile-lightbox.show.disable-transition {
  transition:none !important;
  -webkit-transition:none !important;
	-moz-transition:none !important;
	-o-transition:none !important;
}
#kwlab-container .profile-lightbox hr {
	margin:5px 20px 5px 20px;
}
#kwlab-container span#lb-close {
	position:absolute;
	top:15px;
	right:20px;
}
#kwlab-container .lb-name {
	margin:20px 0px 0px 20px;
	font-size:26px;
	line-height:22px;
}
#kwlab-container .lb-role {
	padding:0px 0px 10px 20px;
	font-size:16px;
	/*line-height:12px;*/
}
#kwlab-container .profile-lightbox .text-wrapper {
	padding:0px 0px 0px 20px;
}
#kwlab-container .profile-lightbox .left {
	float:left;
	width:60%;
}
#kwlab-container .profile-lightbox .right {
	float:right;
	width:40%;
}
#kwlab-container .lb-bio {
	margin-bottom:20px;
}
#kwlab-container .profile-lightbox .icon-wrapper {
	padding:0px 20px 20px 20px;
	text-align:center;
}
#kwlab-container .profile-lightbox.show {
	z-index:15;
}
#kwlab-container .profile-lightbox.hide {
	top:calc(100% + 1000px);
	z-index:11;
}

@media screen and (min-width: 767px) { /* mobile view for who-we-are section begins earlier */
	#kwlab-container #who-we-are .item {
		width:33.33%;
		float:left;
	}

  #kwlab-container #join-our-team div.left { /* in desktop view, stack join-our-team buttons horizontally */
    float:left;
    width:50%;
  }
  #kwlab-container #join-our-team div.right {
    width:calc(50% - 100px);
    position:absolute;
    bottom:0px;
    right:100px;
  }
  #kwlab-container #join-our-team div.bottom { /* container for .left and .right */
    padding: 0px 100px 0px 100px;
    position:relative;
    overflow:hidden;
  }
}

@media screen and (max-width: 767px) { /* for who-we-are, collapse the icons earlier due to spacing issues */
	#kwlab-container #who-we-are .item {
		width:50%;
		float:left;
		height:175px;
		/*margin-bottom:20px;*/
	}

  #kwlab-container #join-our-team div.left { /* set the join our team buttons to stack vertically in tablet and mobile */
    width:100%;
  }
  #kwlab-container #join-our-team div.right {
    width:100%;
    margin-top:10px;
  }
  #kwlab-container #join-our-team div.bottom { /* container for .left and .right */
    padding:0px 20px 0px 20px;
  }
  #kwlab-container #join-our-team .button-caption {
    padding:10px 40px 0px 40px;
  }
}

/* exclusive desktop view styles */
@media screen and (min-width: 641px) {
	#kwlab-container .header-text {
		font-size: 24px; /* orig: 28 */
	}

	#kwlab-container section#our-projects, section#who-we-are, section#for-you {
		padding:20px 100px 20px 100px;
	}

	#kwlab-container #intro-banner .text-banner div {
		padding:30px 65px;
	}

	#kwlab-container #join-our-team div.text {
		padding:20px 100px 20px 100px;
		letter-spacing:0.5px;
	}

	#kwlab-container .profile-lightbox {
		width:100%;
	}
  #kwlab-container .profile-lightbox.show {
  	top:125px;
  }
	#kwlab-container .profile-lightbox .lb-image {
		width:100%;
	}
}

/* mobile view styles */
@media screen and (max-width: 640px) {
	#kwlab-container .header-text {
		font-size:22px; /* orig: 24 */
	}

	#kwlab-container .kw-lab {
		font-size:12px;
		padding:0px 0px 15px 0px;
	}

	.kwlab.top-banner img.large-logo {
		display:none;
	}
	.kwlab.top-banner img.mobileLogo {
		display:block;
    	width:150px;
	}

	#kwlab-container section#our-projects, section#who-we-are, section#for-you {
		padding:20px 20px 20px 20px;
	}

	#kwlab-container #intro-banner .text-banner div {
		padding:30px 20px;
	}

	#kwlab-container #our-projects .item { /* override into vertical stack */
		width:100%;
		float:none;
		display:block;
	}

	#kwlab-container #join-our-team div.text {
		padding:20px 20px 20px 20px;
	}

	#kwlab-container .profile-lightbox {
		width:94%;
		max-height:calc(100% - 20px) !important;
	}
	#kwlab-container .profile-lightbox.show {
		top:10px;
	}
	#kwlab-container .profile-lightbox span#lb-close span.close { /* hide the word "CLOSE" to save space */
		display:none;
	}
	#kwlab-container .profile-lightbox .right {
		float:none;
		width:100%;
	}
	#kwlab-container .lb-image {
		width:50%;
	}
	#kwlab-container .profile-lightbox .left { /* temporary: don't show profile image in mobile */
		float:none;
		width:100%;
	}
	#kwlab-container .profile-lightbox .text-wrapper {
		padding:0px 20px 0px 20px;
	}
}

@media screen and (max-width: 480px) {
	#kwlab-container .lb-name {
		font-size:22px;
		line-height:22px;
	}
	#kwlab-container .lb-role {
		font-size:14px;
		/*line-height:12px;*/
	}
	#kwlab-container .lb-bio {
		font-size:16px;
	}
}
