/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body {
  height: 100%;
}

body {
  background: #fcf9f7 url(../images/bg.jpg) center top fixed no-repeat;
  font-family: "Helvetica Neue",Helvetica, Arial;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 160px;
  margin: 100px auto 0;
  position: relative;
  top: -80px;
  width: 940px;

  /* IE4ever Hack: Hide from IE4 **/
  position: static;
  /** end hack */
}

/* Hide from IE5mac \*//*/

div.shim {
  display: none;
}

html, body {
  height: auto;
}

/* end hack */
/* ]]> */

.logo {
  margin: 0 auto;
  width: 500px;
}

h1 {
  color: #292928;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 19px;
  text-align: center;
  text-transform: uppercase;
}

.coming-soon {
  display: block;
  margin: 50px auto;
  text-align: center;
  width: 600px;
}

h2 {
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  padding: 0px 3px;
}

.social {
  display: block;
  height: 24px;
  list-style: none;
  margin: 25px auto;
  width: 24px;
}

.social li {
  margin-right: 16px;
}

.social li .tw {
  background: url(../images/social.png) -24px 0 no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
}
