#tss-container {
	width:100%;
}
.tss.top-banner {
	background-color:#004977;
	text-align:center;
	padding:30px;
}
.tss.top-banner img.large-logo {
	width:500px;
	height:auto;
}
.tss.top-banner img.mobileLogo {
    display: none;
    margin: 0 auto;
    width: 90%;
    max-width: 620px;
    height: auto;
}
.tss.top-banner .software-studio {
		color:#FFF;
		letter-spacing:5px;
		font-size:22px;
	  font-family: "ProxReg","Helvetica Neue",Arial,sans-serif;
	  padding: 0px 0px 30px 0px;
}
.tss.top-banner .text {
    /*font-size: 36px;*/
    line-height: 32px;
    /*margin:13px 0px 0px 0px;*/
    margin:0px;
    color:#DCD8DB;
    letter-spacing:0.1px;
}

#tss-container section {
	overflow:hidden;
	text-align:center;
}
#tss-container section h3 {
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
}
#tss-container img {
	vertical-align:bottom;
}
#tss-container img.icon {
	width:80px;
	height:80px;
	margin-top:20px;
	margin-bottom:20px;
}

#tss-container .banner-image {
	width:100%;
	height:auto;
}

#tss-container .header-text {
    font-family: "ProxSemiBold","Helvetica Neue",Arial,sans-serif;
    line-height: 32px;
    margin-bottom: 13px;
    letter-spacing:0.1px;
}
#tss-container .title-text {
	font-family: "ProxSemibold","Helvetica Neue Bold","Helvetica Neue",Arial,sans-serif;
    font-size: 20px;
    line-height: 20px;
}
#tss-container .caption-text {
	padding:10px 25px 0px 25px;
	font-size:18px;
	line-height:24px;
}

#tss-container #intro-banner .logo-banner, #join-our-team {
	width:100%;
	background-color:#004977;
	/*font-size:24px;*/
	text-align: center;
	margin:0px;
	color:rgb(205, 205, 205);
}
#tss-container #intro-banner .text-banner {
	width:100%;
	height:auto;
	font-size:22px;
	line-height:30px;
	background-color:rgb(17, 117, 158);
	color:#FFFFFF;
}

#tss-container #working-with-us div.caption {
	font-weight:800;
	padding:20px 0px 10px 0px;
}
#tss-container #working-with-us div.article {
	font-size:13px;
	padding:0px 10px 0px 10px;
}

#tss-container #image-section .dynamic-wrapper {
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
}
#tss-container #image-section .left {
	height:auto;
    position:absolute;
    top:0px;
    right:180px;
    height:100%;
}
#tss-container #image-section .right {
    float:right;
    width:50%;
    position:relative;
    z-index:2;
}

#tss-container #who-we-are .top, #tss-container #who-we-are .bottom {
	overflow: hidden;
}
#tss-container #who-we-are .item .name {
	font-size:18px;
	line-height:20px;
	margin-bottom:5px;
}
#tss-container #who-we-are .item .role {
	font-size:14px;
	line-height:14px;
	padding:0px 5px 0px 5px;
}
#tss-container #who-we-are .item img.icon {
	margin:30px 0px 15px 0px;
}
#tss-container #who-we-are .item img.icon:hover {
	transform:scale(1.1);
}

#tss-container #join-our-team {
	padding-bottom:20px;
}
#tss-container #join-our-team .button { /* .button class provides pre-existing button css */
	font-size:14px;
	background-color:rgb(0, 117, 161);
}
#tss-container #join-our-team div.text {
	font-size:18px;
	line-height:24px;
}

#tss-container section.sponsors {
	padding:20px;
}
#tss-container section.sponsors .icon-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#tss-container section .description {
	font-size:20px;
	line-height:24px;
}

#lightbox-modal {
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background-color:#000;
	z-index:-10; /* behind icons to prevent blocking clicks */
	opacity:0;
	transition: opacity 0.6s linear;
	-webkit-transition: opacity 0.6s linear;
	-moz-transition: opacity 0.6s linear;
	-o-transition: opacity 0.6s linear;
}
#lightbox-modal.show {
	/* on click, show semi-transparent, dark background */
	z-index:10;
}
#tss-container .profile-lightbox {
	/*height:400px;*/
	text-align:left;
	background-color:#FFF;
	max-width:700px;
	position:fixed;
	top:calc(100% + 1000px);
	margin-left:auto; /* margin left/right and left/right:0 does not work on IE if a max-width is specified */
	margin-right:auto;
	left:0;
	right:0;

	overflow:auto;

	transition: top 0.6s ease-in-out;
	-webkit-transition: top 0.6s ease-in-out;
	-moz-transition: top 0.6s ease-in-out;
	-o-transition: top 0.6s ease-in-out;
}
#tss-container .profile-lightbox.show.disable-transition {
  transition:none !important;
  -webkit-transition:none !important;
	-moz-transition:none !important;
	-o-transition:none !important;
}
#tss-container .profile-lightbox hr {
	margin:5px 20px 5px 20px;
}
#tss-container span#lb-close {
	position:absolute;
	top:15px;
	right:20px;
}
#tss-container .lb-name {
	margin:20px 0px 0px 20px;
	font-size:26px;
	line-height:22px;
}
#tss-container .lb-role {
	padding:0px 0px 10px 20px;
	font-size:16px;
	/*line-height:12px;*/
}
#tss-container .profile-lightbox .text-wrapper {
	padding:0px 0px 0px 20px;
}
#tss-container .profile-lightbox .left {
	float:left;
	width:58%;
}
#tss-container .profile-lightbox .right {
	float:right;
	width:40%;
}
#tss-container .lb-bio {
	margin-bottom:20px;
}
#tss-container .profile-lightbox .icon-wrapper {
	padding:0px 20px 20px 20px;
	text-align:center;
}
#tss-container .profile-lightbox.show {
	z-index:15;
}
#tss-container .profile-lightbox.hide {
	top:calc(100% + 1000px);
	z-index:11;
}

@media screen and (min-width: 767px) { /* mobile view for who-we-are section begins earlier */
	#tss-container #who-we-are .item {
		width:25%;
		float:left;
	}
}

@media screen and (max-width: 767px) { /* for who-we-are, collapse the icons earlier due to spacing issues */
	#tss-container #who-we-are .item {
		width:50%;
		float:left;
		height:175px;
		/*margin-bottom:20px;*/
		padding-bottom:5px;
	}
}

@media screen and (max-width: 810px) and (min-width: 641px) {
	#tss-container section.sponsors img {
		width:auto;
		height:70px !important;
	}
}

/* When the screen size is wide enough, but not tall enough (e.g. mobile landscape) */
@media screen and (min-width: 641px) and (max-height: 530px) {
	#tss-container .profile-lightbox {
		width:94% !important;
		max-height:calc(100% - 20px) !important; /* top:10px and bottom:10px */
	}
	#tss-container .profile-lightbox.show {
		top:10px !important;
	}
}

/* exclusive desktop view styles */
@media screen and (min-width: 641px) {
	#tss-container .header-text {
		font-size: 28px;
	}

	#tss-container section#working-with-us, section#who-we-are, section#principles {
		padding:20px 30px 20px 30px;
	}

	#tss-container #intro-banner .text-banner div {
		padding:30px 65px;
	}

	#tss-container #working-with-us .item:nth-child(1) {
		float:left;
		width:33.33%;
	}
	#tss-container #working-with-us .item:nth-child(2) {
		display:inline-block;
		/*margin:0 auto;*/
		width:33.33%;
	}
	#tss-container #working-with-us .item:nth-child(3) {
		float:right;
		width:33.33%;
	}

	#tss-container #principles .item.left {
		float:left;
		width:calc(50% - 40px);
		padding-left:40px;
	}
	#tss-container #principles .item.right {
		float:right;
		width:calc(50% - 40px);
		padding-right:40px;
	}

	#tss-container #join-our-team div.text {
		padding:20px 80px 10px 80px;
		letter-spacing:0.5px;
		margin-top:10px;
	}

	#tss-container section.sponsors {
		display:flex;
	}
	#tss-container section.sponsors .wrapper {
		width:50%;
		display:flex;
	}
	#tss-container section.sponsors .icon-wrapper {
		width:50%;
	}
	#tss-container section.sponsors img {
		width:auto;
		max-width:100%;
		max-height:90px;
	}
	/* Pride At Work logo large with little inner-image padding. Force it to be a little smaller */
	#tss-container section.sponsors img.fourthicon {
		max-height:75px !important;
	}


	#tss-container .profile-lightbox {
		width:100%;
	}
	#tss-container .profile-lightbox.show {
  	top:125px;
  }
	#tss-container .profile-lightbox .lb-image {
		width:100%;
	}
}
/* mobile view styles */
@media screen and (max-width: 640px) {
	#tss-container .header-text {
		font-size:26px;
	}

	#tss-container .software-studio {
		font-size:12px;
		padding:0px 0px 15px 0px;
	}

	.tss.top-banner img.large-logo {
		display:none;
	}
	.tss.top-banner img.mobileLogo {
		display:block;
    	width:150px;
	}

	#tss-container section#working-with-us, section#who-we-are, section#principles {
		padding:20px 20px 20px 20px;
	}

	#tss-container #intro-banner .text-banner div {
		padding:30px 20px;
	}

	#tss-container #image-section .dynamic, #tss-container #image-section .right {
		display:none;
	}

	#tss-container #working-with-us .item { /* override into vertical stack */
		width:100%;
		float:none;
		display:block;
	}

	#tss-container #principles .item {
		width:100%;
		float:none;
		padding:0px;
	}

	#tss-container #join-our-team div.text {
		padding:20px 20px 20px 20px;
	}

	#tss-container section.sponsors .wrapper {
		width:100%;
		display:flex;
	}
	#tss-container section.sponsors .left {
		padding-bottom:20px;
	}
	#tss-container section.sponsors .icon-wrapper {
		width:50%;
	}
	#tss-container section.sponsors img {
		width:auto;
		max-width:100%;
		max-height:75px;
	}
	/* Top Employers logo is small in nature. Allow it to be a bit larger */
	#tss-container section.sponsors img.secondicon {
		max-height:85px !important;
	}
	/* Pride At Work logo large with little inner-image padding. Force it to be a bit smaller */
	#tss-container section.sponsors img.fourthicon {
		max-width:140px !important;
	}

	#tss-container .profile-lightbox {
		width:94%;
		max-height:calc(100% - 20px) !important;
	}
	#tss-container .profile-lightbox.show {
		top:10px;
	}
	#tss-container .profile-lightbox span#lb-close span.close { /* hide the word "CLOSE" to save space */
		display:none;
	}
	#tss-container .profile-lightbox .right {
		float:none;
		width:100%;
	}
	#tss-container .lb-image {
		width:50%;
	}
	#tss-container .profile-lightbox .left { /* temporary: don't show profile image in mobile */
		float:none;
		width:100%;
	}
	#tss-container .profile-lightbox .text-wrapper {
		padding:0px 20px 0px 20px;
	}
}

@media screen and (max-width: 480px) {
	#tss-container .lb-name {
		font-size:22px;
		line-height:22px;
	}
	#tss-container .lb-role {
		font-size:14px;
		/*line-height:12px;*/
	}
	#tss-container .lb-bio {
		font-size:16px;
	}
}
