<footer>
  <div class="wrap cf">
    <a href="http://www.capitalone.ca" target="_blank">
        <img src="{{ "/assets/img/cof_logo.png" | prepend: site.baseurl }}" alt="Capital One">
    </a>
    <p>
    	&copy; 2016 Capital One. All rights reserved. The opinions expressed in the posts are those of the individual and don’t necessarily represent those of Capital One. No representations or warranties are made as to any software provided in the posts.  Any software is provided “as-is” and subject to the terms of any underlying open source license agreement.<br/> <a href="http://www.capitalone.ca/about/privacy" target="_blank">Privacy Policy</a> | <a href="http://www.capitalone.ca/about/terms-of-use/" target="_blank">Terms of Use</a>.
    </p>
    <links>
        <a href="http://www.capitalonelabs.com" style="color: #7A8792" target="_blank"> Capital One Labs (US)</a><br/>
        <a href="http://www.capitalone.io/" style="color: #7A8792" target="_blank"> Capital One Tech Blog (US)</a><br/>
        <a href="https://www.capitalone.com/go-digital/" style="color: #7A8792" target="_blank"> Capital One Digital (US)</a>
    </links>
  </div>
</footer>
