<footer>
  <div class="wrap cf">
    <img src="{{ "/assets/img/cof_logo.png" | prepend: site.baseurl }}" alt="Capital One">
    <p>
    	&copy; 2015 Capital One. All rights reserved. The opinions expressed in the posts are those of the individual and don’t necessarily represent those of Capital One. No representations or warranties are made as to any software provided in the posts.  Any software is provided “as-is” and subject to the terms of any underlying open source license agreement. <a href="http://www.capitalone.com/legal/disclosures/">Legal Disclaimer</a> | <a href="http://www.capitalone.com/identity-protection/privacy/">Privacy Policy</a>.
    </p>
  </div>
</footer>
