<footer>
    <div class="wrap cf">
        <a href="http://www.capitalone.ca" target="_blank">
            <img src="{{ "/assets/img/cof_logo.png" | prepend: site.baseurl }}" alt="Capital One">
        </a>
        <p>
        The opinions expressed on this website are those of the individual and don’t necessarily represent those of Capital One. No representations or warranties are made as to any opinions, information, code, software, or any other content provided on this website.<br/><br/>
        &copy; Capital One Bank (Canada Branch). Capital One is a registered trademark of Capital One Financial Corporation. All rights reserved.
        <br/><br/><a href="http://www.capitalone.ca/about/privacy" target="_blank">Privacy Policy</a> | <a href="http://www.capitalone.ca/about/terms-of-use/" target="_blank">Terms of Use</a>
        </p>
        <links>
            <a href="http://www.capitalonelabs.com" style="color: #7A8792" target="_blank"> Capital One Labs (US)</a><br/>
            <a href="http://www.capitalone.io/" style="color: #7A8792" target="_blank"> Capital One Tech Blog (US)</a><br/>
            <a href="https://www.capitalone.com/go-digital/" style="color: #7A8792" target="_blank"> Capital One Digital (US)</a>
        </links>
    </div>
</footer>
