<header id="top_header">
	<img src="{{ "/assets/img/header/skyline_back.png" | prepend: site.baseurl }}" class="header_bg_image" alt="Capital One Technology">
	<img src="{{ "/assets/img/header/skyline_buildings.png" | prepend: site.baseurl }}" class="header_bg_image stacked buildings" alt="Capital One Technology">
	<img src="{{ "/assets/img/header/cloud1.png" | prepend: site.baseurl }}" class="stacked cloud cloud-1" alt="Capital One Technology">
	<img src="{{ "/assets/img/header/cloud2.png" | prepend: site.baseurl }}" class="stacked cloud cloud-2" alt="Capital One Technology">
	<img src="{{ "/assets/img/header/cloud3.png" | prepend: site.baseurl }}" class="stacked cloud cloud-3" alt="Capital One Technology">
	<img src="{{ "/assets/img/header/cloud4.png" | prepend: site.baseurl }}" class="stacked cloud cloud-4" alt="Capital One Technology">

	<div class="content">
  		<img src="{{ "/assets/img/CanTech-Opt-Horizontal.png" | prepend: site.baseurl }}" class="logo headerlogo" alt="Capital One Technology">
        <img src="{{ "/assets/img/CanTech-Opt-Vertical.png" | prepend: site.baseurl }}" class="mobileLogo headerlogo" alt="Capital One Technology">
	</div>
	{% include nav.html %}
</header>
