<nav id="main_nav">
	<div class="wrap cf">
		<a href="{{ site.baseurl }}/">HOME</a>
    <!-- <a href="{{ site.baseurl }}/events">EVENTS</a> -->
    <a href="{{ site.baseurl }}/tss">STUDIO</a>
		<a href="{{ site.baseurl }}/kwlab">KW LAB</a>
		<a href="#" class="menu"><span class="icon-menu"></span>MENU</a>
	</div>

    <script>
        (function() {
            var pgurl = window.location.pathname
            if(pgurl.length > 1){
                pgurl = pgurl.slice(0,-1);
            }
            $("#main_nav a").each(function(){
							if ($(this).attr("href") == pgurl || $(this).attr("href") == '' || $(this).attr("href").slice(0, -1) == pgurl) {
								$(this).addClass("selected");
							}
            })
        })();
    </script>
</nav>
