<div class="post">
	<header id="top_header">
		<img src="{{ "/assets/img/skyline_bg.jpg" | prepend: site.baseurl }}" class="header_bg_image" alt="Capital One Engineering">
		<div class="content">
			<a href="{{ site.baseurl }}/" class="logo_sml"><img src="{{ "/assets/img/skyline_R2-logo.png" | prepend: site.baseurl }}" class="logo headerlogo" alt="Capital One Engineering"></a>
            <a href="{{ site.baseurl }}/" class="mobileLogo_sml"><img src="{{ "/assets/img/CanTech-logo-stacked.png" | prepend: site.baseurl }}" class="mobileLogo headerlogo" alt="Capital One Engineering"></a>
		</div>

		{% include nav.html %}
	</header>
</div>