/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background: #fcf9f7 url(../images/bg.jpg) center top fixed no-repeat;
font-family:"Helvetica Neue",Helvetica, Arial;
font-size: 100%;
}

div#shim{
visibility: hidden;
width: 100%;
height: 50%;                                                                     
margin-top: -80px;                                                              
float: left;
}

div#content {
width: 100%;
height: 160px;
margin: 0 auto;
background: url(../images/content_bg.png) left bottom repeat-x;
float: left;
position: relative;
top: -80px;

/* IE4ever Hack: Hide from IE4 **/
position: static;
/** end hack */
}

/* Hide from IE5mac \*//*/
div#shim {
display: none;
}
html, body {
height: auto;
}
/* end hack */
/* ]]> */

.logo{
width: 940px;
margin: 0 auto;
}

h1{
font-size: 36px;
color: #292928;
margin-bottom: 19px;
letter-spacing: -2px;
font-weight: 200;
text-shadow:0px 0px 5px #514e45;
text-transform: uppercase;
text-align: center;
}

h2{
padding: 0px 3px;
line-height: normal;
#background: #fff;
font-size: 18px;
font-weight: 200;
float: left;
text-transform: uppercase;
}



h1 span{
font-weight: 500;
}

.clear{
clear: both;
}


.right_side{
width: 940px;
margin: 0 auto;
}


.right_content{
width: 900px;
#background: url(../images/blackish.png) repeat;
height: 50px;
padding: 23px 0 23px 40px;
}



.right_content h2{
margin-top: 12px;
margin-left: 270px;
}

ul.social{
list-style: none;
width: 120px;
float: left;
height: 24px;
margin-top: 12px;
margin-right: 38px;
}

ul.social li{
float: left;
margin-right: 16px;
}

ul.social li a.fb{
width: 24px;
height: 24px;
float: left;
background: url(../images/social.png) 0 0 no-repeat;
}


ul.social li:hover a.fb{
background: url(../images/social.png) 0 -24px no-repeat;
}


ul.social li a.tw{
width: 24px;
height: 24px;
float: left;
background: url(../images/social.png) -24px 0 no-repeat;
}


ul.social li:hover a.tw{
background: url(../images/social.png) -24px -24px no-repeat;
}


ul.social li a.lin{
width: 24px;
height: 24px;
float: left;
background: url(../images/social.png) -48px 0 no-repeat;
}


ul.social li:hover a.lin{
background: url(../images/social.png) -48px -24px no-repeat;
}

form.email{
padding: 0;
margin: 10px 0 0 0;
width: 204px;
float: left;
}

.get_notified{
width: 144px;
line-height: normal;
background: url(../images/field.png) left top no-repeat;
font-family:"Helvetica Neue",Helvetica, Arial;
font-size: 11px;
color: #595249;
border: none;
padding: 7px 10px;
margin-right: 6px;
float: left;
}

.go{
padding: 0;
margin: 0;
width: 34px;
height: 28px;
float: left;
border: none;
background: url(../images/go.png) left top no-repeat;
}

.go:hover{
background: url(../images/go.png) left bottom no-repeat;
cursor: pointer;

}