<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% if page.is_post %}
      {% include post_header.html %}
    {% else %}
      {% include header.html %}
    {% endif %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- mobile nav bar overlay -->
    <nav id="mobile_nav">
      <a href="{{ site.baseurl }}"><img src="{{ "/assets/img/c1_tech_logo_sml.png" | prepend: site.baseurl }}" class="logo" alt=""></a>
      <a href="{{ site.baseurl }}/">HOME</a>
      <a href="https://www.capitalone.ca/careers" target="_blank">CAREERS</a>
      <!-- <a href="{{ site.baseurl }}/about">ABOUT</a> -->
      <a href="{{ site.baseurl }}/events">EVENTS</a>
      <a href="{{ site.baseurl }}/tss">STUDIO</a>
      <a href="{{ site.baseurl }}/kwlab">KW LAB</a>
      <a href="#" class="close"><span class="icon-close"></span>CLOSE</a>
    </nav>

  </body>
</html>
